@font-face{
    font-family: 'Karmatic Arcade';
    src: url(ka1.ttf);
}

body{
    background-color: #00ff11;
    background-image: url('../images/carroths.png');
        background-position: top;
    font-family: 1em sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.right {
    float: left;
    margin-left: 1em;
}

h1{
    margin: auto;
    font-family: 'Karmatic Arcade';
    text-align: center;
}

img{
    border-style: outset;
    border-color: #fc53cf;
    border-width: 5px;
}

#header{
    border-style: outset;
    border-color: #fc53cf;
    border-width: 5px;
    margin: auto;
    margin-bottom: -25px;
    width: 700px;
        background-color: #90f56c;
    height: 75px;
    padding-top: 20px;
}

.main-body{
    border-style: outset;
    border-color: #fc53cf;
    border-width: 5px;
    width: 660px;
        background-color: #85ffbc;
    height: 750px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;

}
.parent{
    position: absolute;
    width: 800px;
    height: 800px;
}

#container{
    border-style: outset;
    border-color: #fc53cf;
    border-width: 5px;
    /*margin-top: -10px;*/
    margin: auto;
    width: 680px;
        background-color: #f79172;
    height: 900px;
    color: black;
    outline-color: black;
    outline-width: 5px;
    padding: 10px;
    position: relative;
    top:-250px;
}

#Jama{
    border-style: outset;
    border-color: #f5d5ec;
    position: relative;
    left: 180px;
    z-index: 1;
}

#Chuni{
    border-style: outset;
    border-color: #760cf0;
    position: relative;
    top:-700px;
    left: 1050px;
}

