@font-face{
    font-family: 'Karmatic Arcade';
    src: url(ka1.ttf);
}

body{
    background-color: yellow;
    background-image: url('../images/cereal.jpg');
        background-position: top;
    font-family: 1em sans-serif;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

h1{
    margin: auto;
    font-family: 'Karmatic Arcade';
    text-align: center;
}

div, img{
    border-style: outset;
    border-color: #fc53cf;
    border-width: 5px;
}

#header{
    margin: auto;
    margin-bottom: -25px;
    width: 700px;
        background-color: #90f56c;
    height: 75px;
    padding-top: 20px;
}

#container{
    /*margin-top: 0px;*/
    margin: auto;
    width: 680px;
        background-color: #f79172;
    height: 500px;
    color: black;
    outline-color: black;
    outline-width: 5px;
    padding: 10px;
}
